# Mac Cruft
.DS_Store
._*

# Windows Cruft
Thumbs.db
desktop.ini
ehthumbs.db

# General Cruft
*.bak

# Assembled and compiled binaries

a.out
*.o
hello_arg
hello_arg_memcpy
hello_arg_strcpy
hello_env
hello_min
hello_ncurses
hello_str
hello_str-clang*
hello_str-dev
hello_str-g++
hello_str-nasm
hello_str_64
hello_str_64-gas
hello_str_64-gcc
hello_var
hello_*_bin
hello_*_min
